body {
  background-color: #ddd;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-family: 'Press Start 2P', cursive;
  padding-top: 8%;
  word-wrap: break-word;
}

.logo {
  width: 220px;
  height: 220px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WalletInfo {
  width: 500px;
}

.Block {
  border: 1px solid #000;
  padding: 5%;
  margin: 2%;
}

.Transaction {
  padding: 5%;
}

.ConductTransaction, .TransactionPool {
  margin: 10%;
}

a, a:hover {
  color: #05C0A5;
  text-decoration: underline;
}